**/.DS_Store

# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.metadata

# Android Studio / IntelliJ
**/.idea/
**/*.iml
/frontend/linux/
